<section class="bg-dark" id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">下载</h2>
                <hr class="light">

                <a href="#"
                    class="btn btn-default btn-xl"><i class="fab fa-windows"></i> Windows</a>
                <a href="#"
                    class="btn btn-default btn-xl"><i class="fab fa-apple"></i> macOS</a>
                <a href="#" class="btn btn-default btn-xl"><i class="fab fa-linux"></i> Linux</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p></p>
                <p class="text-faded">最新版本：V0.0.8（测试）。暂请通过网盘下载：<a
                        href="https://pan.baidu.com/s/16tKP9Kw48sH9UuPsQwHAjQ">百度云盘</a>，提取码 75eh</p>
            </div>
        </div>
    </div>
</section>