<section id="function" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">助你处理：</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-folder-minus wow bounceIn text-primary"></i>
                    <h3>合并子文件夹</h3>
                    <p class="text-muted">拖，放，搞定！</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-image wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>照片 EXIF 信息</h3>
                    <p class="text-muted">批量删除照片的 GPS等信息，保护隐私。还支持批量修改哦！</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>重命名文件</h3>
                    <p class="text-muted">批量重命名文件。可以按照文件创建时间或指定序号等规则。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-broom wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>清理非必要文件</h3>
                    <p class="text-muted">一键清理：空文件夹，.DS_Store等文件</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fas fa-4x fa-layer-group wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>更多</h3>
                        <p class="text-muted">持续改进和增加新的文件处理能力。</p>
                    </div>
                </div>
        </div>
    </div>
</section>
