<section class="no-padding bg-primary" id="screenshot">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br />
                <h2 class="section-heading">截图</h2>
                <hr class="primary">
            </div>
        </div>

        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6 img-border">
                <img src="/static/app/img/screenshot/1.gif" class="img-responsive" alt="">
                <div class="text-center">
                    合并子文件夹
                </div>

            </div>
            <div class="col-lg-4 col-sm-6 img-border">
                <img src="/static/app/img/screenshot/2.png" class="img-responsive" alt="">
                <div class="text-center">
                    照片 EXIF 信息
                </div>

            </div>
            <div class="col-lg-4 col-sm-6 img-border">
                <img src="/static/app/img/screenshot/3.png" class="img-responsive" alt="">
                <div class="text-center">
                    重命名文件
                </div>

            </div>
        </div>
    </div>
</section>