<!-- jQuery -->
<script src="/static/app/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/app/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/app/js/jquery.easing.min.js"></script>
<script src="/static/app/js/jquery.fittext.js"></script>
<script src="/static/app/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/app/js/creative.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141020238-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141020238-1');
</script>
